## common aliases for zsh and bash ##

# clear default aliases
unalias -a

# colemak asdf
type asdf &>/dev/null && alias arst=asdf

# shortening
type kubectl &>/dev/null && alias k=kubectl
type k9s &>/dev/null && alias k9=k9s
type ruby &>/dev/null && alias be="bundle exec"
alias g=git

# ls decoration
alias ls="ls -F --color=auto"
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -la"
alias lal="ls -la"
alias l="ls"

# Monday is the first day of the week.
if [[ -a /opt/homebrew/opt/util-linux/bin/cal ]]; then
  alias cal="/opt/homebrew/opt/util-linux/bin/cal -m"
fi

# manage dotfiles
alias dot="git --git-dir=$HOME/.dot/ --work-tree=$HOME"
