[user]
    name = Ryan Rotter
    email = rrotter@users.noreply.github.com
[alias]
    co = checkout
    ci = commit
    br = branch
    fixup = commit --amend
    st = status
    lo = log -4 # a short log
    log-branch = log origin/HEAD..
    ls = ls-tree --abbrev HEAD
    ll = ls-tree --abbrev HEAD -l
    lr = ls-tree --abbrev HEAD -r
    llr = ls-tree --abbrev HEAD -lr
    lrl = ls-tree --abbrev HEAD -lr
    # checkout main branch, even if it's badly named
    comain = ! git checkout `git branch | cut -c 3- | grep -E '^(main|master|production)$' | head -1`
    web = ! git config remote.origin.url && open -u $(git config remote.origin.url) || echo "no remote configured"
[push]
    autoSetupRemote = true
[core]
    excludesfile = ~/.config/gitignore
[commit]
    verbose = true
