[user]
    name = Ryan Rotter
    email = rrotter@users.noreply.github.com
[alias]
    co = checkout
    ci = commit
    br = branch
    fixup = commit --amend
    st = status
    lo = log -4 # a short log
    log-branch = log origin/HEAD..
    ls = ls-tree --abbrev HEAD
    ll = ls-tree --abbrev HEAD -l
    lr = ls-tree --abbrev HEAD -r
    llr = ls-tree --abbrev HEAD -lr
    lrl = ls-tree --abbrev HEAD -lr
    root = rev-parse --show-toplevel
    # checkout main branch, whatever its name is
    com = ! git checkout $(git rev-parse --abbrev-ref origin/HEAD | cut -c8-)
    web = ! git config remote.origin.url && open -u $(git config remote.origin.url) || echo "no remote configured"
[push]
    autoSetupRemote = true
[core]
    excludesfile = ~/.config/gitignore
[commit]
    verbose = true
