# this git repo
.dot

# system files and other ephemeral data
.Brewfile.lock.json
.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.asdf
.bash_history
.cache
.dbus
.gem
.irb_history
.lesshst
.local
.node_repl_history
.swiftpm
.terraform.d
.wget-hsts
.xsession-errors
.zcompcache
.zcompdump
.zsh_history
.zsh_sessions

# vim
.sw[a-z]
.vim
.viminfo

# auth and accounts
.aws
.kube
.ssh

# browser config
.config/chromium/
.config/google-chrome/
.mozilla/

# not dotfiles
Applications
Desktop
Documents
Downloads
Movies
Music
Pictures
Public

# Library and exceptions
.config/iterm2/
!Library/
Library/*
!Library/Preferences/
Library/Preferences/*
!Library/Preferences/glow/
!Library/Sounds/
