# this git repo
.dot

# system files and other ephemeral data
.Brewfile.lock.json
.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.asdf
.bash_history
.bundle/cache
.cache
# iterm symlink
.config/iterm2/AppSupport
.dbus
.gem
.irb_history
.lesshst
.local
.node_repl_history
.swiftpm
# vim swap
.sw[a-z]
.vim/.netrwhist
.viminfo
.wget-hsts
.xsession-errors
.zcompcache
.zcompdump
.zsh_history
.zsh_sessions

# auth and accounts
.aws
.config/gh/hosts.yml
.kube
.ssh

# browser config
.config/chromium/
.config/google-chrome/
.mozilla/

# .zshenv should be the only zsh config outside of .config
.zprofile
.zshrc

# not dotfiles
Applications
Desktop
Documents
Downloads
Movies
Music
Pictures
Public

# Library and exceptions
!Library/
Library/*
!Library/Preferences/
Library/Preferences/*
!Library/Preferences/glow/
!Library/Sounds/
